{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p class="about-text">CringeCrew — это не просто блог. Это команда энтузиастов, которые смотрят в самую сердцевину интернет-кринжа,
            не моргнув глазом. Мы — те самые люди, которые проводят часы в бесконечной ленте, чтобы найти то,
            что заставит тебя и смеяться, и плакать одновременно. Мы не боимся делиться самым странным,
            самым неловким и самым культурно значимым контентом, потому что знаем: кринж — это не провал, это феномен.</p>
        <a href="{% url 'home'%}" class="btn btn-danger">На страницу "Главная"</a>
    </div>
{% endblock %}