{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p class="main-text">Добро пожаловать на CringeCrew — твой гид в мире цифрового кринжа, мемов, трендов и всего того,
            что заставляет нас то смеяться, то прятаться под диван. Здесь мы разбираем самые странные,
            неловкие и безумные моменты интернета — от провальных рекламных кампаний до эпических фейлов в соцсетях.
            Мы не боимся говорить о том, что другие стесняются. Потому что кринж — это не стыдно. Это стиль.</p>
        <a href="{% url 'about'%}" class="btn btn-warning">На страницу "Про нас"</a>
    </div>
{% endblock %}