body, html {
    background: #2c2c2c;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

aside {
    background: #181818;
    width: 20%;
    padding: 2.5%;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 32px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {
    list-style: none;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li .btn-info {
    color: #fff;
    background: #0993AE;
    border: 1px solid #0993AE;
}

aside ul li .btn-info:hover {
    color: #fff;
    background: #04414E;
    border: 1px solid #04414E;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main {
    width: 80%;
    padding: 2.5%;
    color: #fff;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 2%;
    text-align: center;
    width: 75%;
}

main .features h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;
    margin-left: 5%;
}

main .features p {
    max-width: 400px;
    margin: 20px auto;
}

main .features .main-text {
    margin-left: 36%;
}

main .features .about-text {
    margin-left: 36%;
}

main .features .article-date {
    margin-left: 35%;
}

main .features .article-text {
    margin-left: 35%;
}

.btn-warning {
    margin-left: 9%;
}

.btn-danger {
    margin-left: 9%;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 36%;
    text-align: left;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}